In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pymysql
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
!pip install plotly

In [ ]:
# Credentials to database connection 
hostname="yt-database.cboawsp1dleo.ap-northeast-2.rds.amazonaws.com"
dbname="yt-database"
uname="admin"
pwd="ytdb2022"

In [ ]:
db = pymysql.connect(host = hostname, port=3306, user=uname, passwd=pwd, db=dbname)
cursor = db.cursor()
cursor.execute("SELECT * FROM `yt-database`.YT_Channel_June;")
table_rows= cursor.fetchall()
channel_df = pd.DataFrame(table_rows)
channel_df.columns = ['channel_name', 'published_date','subscribers','views','total_videos','playlist_id','retrieved_date']

In [ ]:
#channel_df = pd.read_csv(r'/content/drive/MyDrive/youtube_analysis/youtube_channel_June_week03.csv') #mysql에서 불러와라

In [ ]:
channel_df

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date
0,iGameplayAndroid,2015-08-19,240000,74457609,2365,UUC_1vJKrM_Mi4XJZtr0g0hA,2022-06-02
1,HyperX,2009-01-06,614000,140054318,822,UUmONQe9yHyPcETc5xdiZMcA,2022-06-02
2,xBCrafted,2007-11-05,381000,87438301,4684,UU_MkjhQr_D_lGlO3uu-GxyA,2022-06-02
3,cookieboy17,2007-07-10,639000,278003647,3777,UUmmVg6kyLbdl74FikqMJ4LA,2022-06-02
4,Mekel,2009-06-05,369000,45542708,535,UUogK8QXzia_Cbejl5uk9LkQ,2022-06-02
...,...,...,...,...,...,...,...
6595,Restoration And Metal,2018-10-02,580000,114753597,62,UUFNc6JujTtkIyuZskIeNEGg,2022-06-23
6596,MUO,2013-12-30,215000,36391703,1298,UUfXdejDvNviqilmJ9DvGuow,2022-06-23
6597,This is Tech Today,2016-12-07,225000,19615815,211,UUEAMLkMKtq6YhmaZdUT1ywA,2022-06-23
6598,CryptoExpress,2013-10-31,317000,6754318,130,UUX-TEBEbPrltBZGJVeF8kQw,2022-06-23
6599,Android Central,2008-11-13,506000,145171285,3073,UU-kFCSJLpxuJdgMnQz8Dvrg,2022-06-23

In [ ]:
channel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6600 entries, 0 to 6599
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   channel_name    6600 non-null   object
 1   published_date  6600 non-null   object
 2   subscribers     6600 non-null   int64
 3   views           6600 non-null   int64
 4   total_videos    6600 non-null   int64
 5   playlist_id     6600 non-null   object
 6   retrieved_date  6600 non-null   object
dtypes: int64(3), object(4)
memory usage: 361.1+ KB

In [ ]:
first_channel_data = channel_df[channel_df["retrieved_date"] == "2022-06-02"].sort_values(by=['channel_name']).reset_index(drop = True)
last_channel_data = channel_df[channel_df["retrieved_date"] == "2022-06-23"].sort_values(by=['channel_name']).reset_index(drop = True)

In [ ]:
last_channel_data["sub_diff"] = last_channel_data["subscribers"] - first_channel_data["subscribers"]
last_channel_data["view_diff"] = last_channel_data["views"] - first_channel_data["views"]
last_channel_data["upload_diff"] = last_channel_data["total_videos"] - first_channel_data["total_videos"]

In [ ]:
first_channel_data

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date
0,99Bitcoins,2015-07-19,703000,34061295,344,UUQQ_fGcMDxlKre3SEqEWrLA,2022-06-02
1,AML FILMS,2010-03-30,139000,33239819,652,UUyWpRDBBb84ogtALVskwciw,2022-06-02
2,AccuWeather,2006-12-03,263000,68471411,1325,UUuYqi3hOfz6-3Hdp6tEJjAg,2022-06-02
3,Adventure Time,2016-11-03,827000,682081304,839,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-02
4,African Vulture,2013-08-07,106000,11988459,994,UUVaAjxoHN32qDCZLBKA5rIA,2022-06-02
...,...,...,...,...,...,...,...
295,space googlevesaire,2017-07-05,393000,37381000,1013,UU6Iv92nZE21XWt0B1ZTCd6Q,2022-06-02
296,the DM Lair,2011-10-18,106000,13529130,400,UUk9dtbM-wjpLk134r55OUbg,2022-06-02
297,tiffanyferg,2011-03-18,759000,56380302,232,UUY6DpwQetygtye7GM1zVHmw,2022-06-02
298,xBCrafted,2007-11-05,381000,87438301,4684,UU_MkjhQr_D_lGlO3uu-GxyA,2022-06-02
299,yo_boy_Roy,2016-02-28,612000,85128307,447,UULyDtiTLFZ-Ns6gZQDcPv6g,2022-06-02

In [ ]:
last_channel_data

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date,sub_diff,view_diff,upload_diff
0,99Bitcoins,2015-07-19,705000,34372197,348,UUQQ_fGcMDxlKre3SEqEWrLA,2022-06-23,2000,310902,4
1,AML FILMS,2010-03-30,141000,33739378,672,UUyWpRDBBb84ogtALVskwciw,2022-06-23,2000,499559,20
2,AccuWeather,2006-12-03,263000,68706035,1338,UUuYqi3hOfz6-3Hdp6tEJjAg,2022-06-23,0,234624,13
3,Adventure Time,2016-11-03,836000,693123748,850,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-23,9000,11042444,11
4,African Vulture,2013-08-07,106000,12184461,1009,UUVaAjxoHN32qDCZLBKA5rIA,2022-06-23,0,196002,15
...,...,...,...,...,...,...,...,...,...,...
295,space googlevesaire,2017-07-05,392000,36317202,752,UU6Iv92nZE21XWt0B1ZTCd6Q,2022-06-23,-1000,-1063798,-261
296,the DM Lair,2011-10-18,108000,13827660,409,UUk9dtbM-wjpLk134r55OUbg,2022-06-23,2000,298530,9
297,tiffanyferg,2011-03-18,760000,56586346,233,UUY6DpwQetygtye7GM1zVHmw,2022-06-23,1000,206044,1
298,xBCrafted,2007-11-05,382000,87772335,4689,UU_MkjhQr_D_lGlO3uu-GxyA,2022-06-23,1000,334034,5
299,yo_boy_Roy,2016-02-28,612000,85713987,454,UULyDtiTLFZ-Ns6gZQDcPv6g,2022-06-23,0,585680,7

In [ ]:
last_channel_data.drop(last_channel_data.index[last_channel_data['sub_diff'] < 0], inplace=True)
last_channel_data.drop(last_channel_data.index[last_channel_data['view_diff'] < 0], inplace=True)
last_channel_data.drop(last_channel_data.index[last_channel_data['upload_diff'] <= 0], inplace=True)

In [ ]:
last_channel_data["subperupload"] = (last_channel_data["sub_diff"] / last_channel_data["upload_diff"]).round(1)
last_channel_data["viewperupload"] = (last_channel_data["view_diff"] / last_channel_data["upload_diff"]).round(1)
last_channel_data["viewgainpersub"] = (last_channel_data["view_diff"] / last_channel_data["subscribers"]).round(1)
last_channel_data["incest"] = (last_channel_data["viewperupload"] * 0.03).round(1)

In [ ]:
last_channel_data.shape

(244, 14)

In [ ]:
# Outliar excluding 01
last_channel_data.sort_values(by='viewgainpersub', ascending=False).reset_index(drop = True)
# remove if view gain per sub is more than 40

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date,sub_diff,view_diff,upload_diff,subperupload,viewperupload,viewgainpersub,incest
0,Fizzory,2019-01-19,194000,52419697,438,UU4TLfCoiFGP3TGesLorGJRQ,2022-06-23,13000,23551092,218,59.6,108032.5,121.4,3241.0
1,Tyrecordslol,2012-05-22,289000,85390263,244,UU-A2WBfHTnWkhNvehNo-MaA,2022-06-23,82000,26759318,29,2827.6,922735.1,92.6,27682.1
2,DreamyBear - Monster School Minecraft Animation,2021-09-30,131000,38305085,93,UUEIAItDIwg-6H1knECqwEMg,2022-06-23,16000,5101503,6,2666.7,850250.5,38.9,25507.5
3,RoboFuse - Car City Universe,2020-10-30,116000,46891560,119,UU9MRdB1ruN8GMnf6YbvrZ-Q,2022-06-23,5000,3893908,7,714.3,556272.6,33.6,16688.2
4,Piinkblinks,2021-03-12,303000,52091420,561,UUP4YXxcqD8Ca5tBPjQz0Vfg,2022-06-23,134000,7799435,26,5153.8,299978.3,25.7,8999.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,m0llik,2008-04-29,417000,56157,50,UU7Qy5GnJ7eKvOJXjLJnJ2-Q,2022-06-23,0,6517,4,0.0,1629.2,0.0,48.9
240,TIKUS ZENA,2015-10-17,208000,2309574,77,UUJjMf-tvXttxiOgmJ-v7jjw,2022-06-23,0,1613,2,0.0,806.5,0.0,24.2
241,PozerDAB,2016-03-20,197000,25868531,461,UUyP3NQ85lxYzZlXIOLTpnNQ,2022-06-23,0,6528,4,0.0,1632.0,0.0,49.0
242,Happy MAX Crash Car,2015-07-09,297000,43335752,831,UUnuLlP1s8wSZQFVqWG85dXA,2022-06-23,0,5951,3,0.0,1983.7,0.0,59.5
243,XoXo,2017-07-03,321000,324048,241,UUD0CWhwp0nl4e0wVIKVBkaw,2022-06-23,0,6168,11,0.0,560.7,0.0,16.8

In [ ]:
#last_channel_data.drop(last_channel_data.index[last_channel_data['viewgainpersub'] > 40], inplace=True)
last_channel_data.drop(last_channel_data.index[last_channel_data['upload_diff'] > 21], inplace=True)
last_channel_data.drop(last_channel_data.index[last_channel_data['upload_diff'] < 2], inplace=True)

In [ ]:
# Outliar excluding 02
last_channel_data.sort_values(by='viewgainpersub', ascending=False).reset_index(drop = True)
# removie if upload count if more than 21

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date,sub_diff,view_diff,upload_diff,subperupload,viewperupload,viewgainpersub,incest
0,DreamyBear - Monster School Minecraft Animation,2021-09-30,131000,38305085,93,UUEIAItDIwg-6H1knECqwEMg,2022-06-23,16000,5101503,6,2666.7,850250.5,38.9,25507.5
1,RoboFuse - Car City Universe,2020-10-30,116000,46891560,119,UU9MRdB1ruN8GMnf6YbvrZ-Q,2022-06-23,5000,3893908,7,714.3,556272.6,33.6,16688.2
2,Mr. Anybody,2018-10-13,149000,99261025,162,UUPAqHLrEXrRKAWPi7n6OTJQ,2022-06-23,4000,2979886,3,1333.3,993295.3,20.0,29798.9
3,Dark Tech,2021-06-03,134000,14464288,66,UU7PYOpaIhJG1tlcn8jGgsgw,2022-06-23,15000,2633461,10,1500.0,263346.1,19.7,7900.4
4,TimProVision,2018-06-15,158000,57205999,459,UUs1HcDiXFdZ24hWdTczj6Wg,2022-06-23,5000,2909407,12,416.7,242450.6,18.4,7273.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Happy MAX Crash Car,2015-07-09,297000,43335752,831,UUnuLlP1s8wSZQFVqWG85dXA,2022-06-23,0,5951,3,0.0,1983.7,0.0,59.5
175,TIKUS ZENA,2015-10-17,208000,2309574,77,UUJjMf-tvXttxiOgmJ-v7jjw,2022-06-23,0,1613,2,0.0,806.5,0.0,24.2
176,XoXo,2017-07-03,321000,324048,241,UUD0CWhwp0nl4e0wVIKVBkaw,2022-06-23,0,6168,11,0.0,560.7,0.0,16.8
177,m0llik,2008-04-29,417000,56157,50,UU7Qy5GnJ7eKvOJXjLJnJ2-Q,2022-06-23,0,6517,4,0.0,1629.2,0.0,48.9
178,PozerDAB,2016-03-20,197000,25868531,461,UUyP3NQ85lxYzZlXIOLTpnNQ,2022-06-23,0,6528,4,0.0,1632.0,0.0,49.0

In [ ]:
last_channel_data

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date,sub_diff,view_diff,upload_diff,subperupload,viewperupload,viewgainpersub,incest
0,99Bitcoins,2015-07-19,705000,34372197,348,UUQQ_fGcMDxlKre3SEqEWrLA,2022-06-23,2000,310902,4,500.0,77725.5,0.4,2331.8
1,AML FILMS,2010-03-30,141000,33739378,672,UUyWpRDBBb84ogtALVskwciw,2022-06-23,2000,499559,20,100.0,24978.0,3.5,749.3
2,AccuWeather,2006-12-03,263000,68706035,1338,UUuYqi3hOfz6-3Hdp6tEJjAg,2022-06-23,0,234624,13,0.0,18048.0,0.9,541.4
3,Adventure Time,2016-11-03,836000,693123748,850,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-23,9000,11042444,11,818.2,1003858.5,13.2,30115.8
4,African Vulture,2013-08-07,106000,12184461,1009,UUVaAjxoHN32qDCZLBKA5rIA,2022-06-23,0,196002,15,0.0,13066.8,1.8,392.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,meatwagon22,2010-03-31,696000,227710301,5789,UUmVzL8DolQO-WWhn4ZUqhYA,2022-06-23,0,224583,21,0.0,10694.4,0.3,320.8
291,mrpete222,2006-08-08,278000,79627535,1438,UUKLIIdKEpjAnn8E76KP7sQg,2022-06-23,0,212330,5,0.0,42466.0,0.8,1274.0
296,the DM Lair,2011-10-18,108000,13827660,409,UUk9dtbM-wjpLk134r55OUbg,2022-06-23,2000,298530,9,222.2,33170.0,2.8,995.1
298,xBCrafted,2007-11-05,382000,87772335,4689,UU_MkjhQr_D_lGlO3uu-GxyA,2022-06-23,1000,334034,5,200.0,66806.8,0.9,2004.2
299,yo_boy_Roy,2016-02-28,612000,85713987,454,UULyDtiTLFZ-Ns6gZQDcPv6g,2022-06-23,0,585680,7,0.0,83668.6,1.0,2510.1

In [ ]:
graph = last_channel_data.sort_values(by='viewperupload', ascending=False).head(20)

In [ ]:
fig = px.scatter(graph, x="upload_diff", y="view_diff",trendline="ols",color='viewperupload', size = 'subscribers', size_max=20, color_continuous_scale=px.colors.sequential.Blues, text='channel_name')
fig.update_traces(textposition='top center')
fig.update_layout(
    height=600,
    title_text = 'Top Youtube Channel Analysis'
)

fig.show()

#Try to understand the audience and tell the how this is going to create impacto to 
# Why these datapoints are worth it
# why ols would doesn't work,

In [ ]:
fig = px.bar(graph, x='channel_name', y='viewperupload', color_continuous_scale=px.colors.sequential.Blues, 
             labels={'channel_name':'Channel Name'}, height=600)
fig.update_layout(
    title_text = 'Top Youtube Channel Analysis')
fig.show()

In [ ]:
adventure_time = channel_df[channel_df.channel_name =='Adventure Time'].reset_index(drop = True)

In [ ]:
adventure_time

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date
0,Adventure Time,2016-11-03,827000,682081304,839,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-02
1,Adventure Time,2016-11-03,827000,682404377,840,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-03
2,Adventure Time,2016-11-03,828000,682778324,840,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-04
3,Adventure Time,2016-11-03,828000,683175108,841,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-05
4,Adventure Time,2016-11-03,828000,683575975,842,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-06
5,Adventure Time,2016-11-03,829000,683982922,844,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-07
6,Adventure Time,2016-11-03,829000,684354191,844,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-08
7,Adventure Time,2016-11-03,829000,684780084,845,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-09
8,Adventure Time,2016-11-03,830000,685211531,845,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-10
9,Adventure Time,2016-11-03,830000,685692956,846,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-11
10,Adventure Time,2016-11-03,831000,686208196,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-12
11,Adventure Time,2016-11-03,831000,686823877,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-13
12,Adventure Time,2016-11-03,832000,687258337,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-14
13,Adventure Time,2016-11-03,832000,687729077,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-15
14,Adventure Time,2016-11-03,833000,688229659,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-16
15,Adventure Time,2016-11-03,833000,688833602,848,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-17
16,Adventure Time,2016-11-03,834000,689452533,848,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-18
17,Adventure Time,2016-11-03,834000,690138374,848,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-19
18,Adventure Time,2016-11-03,835000,690913428,848,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-20
19,Adventure Time,2016-11-03,836000,691688584,849,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-21
20,Adventure Time,2016-11-03,836000,692423599,850,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-22
21,Adventure Time,2016-11-03,836000,693123748,850,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-23

In [ ]:
adventure_time["subgain"] = (adventure_time["subscribers"] - adventure_time["subscribers"][0])
adventure_time["viewgain"] = (adventure_time["views"] - adventure_time["views"][0])
adventure_time["videoloads"] = (adventure_time["total_videos"] - adventure_time["total_videos"][0])

In [ ]:
adventure_time_shifted = adventure_time.shift(1, axis = 0)

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date,subgain,viewgain,videoloads
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adventure Time,2016-11-03,827000.0,682081304.0,839.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-02,0.0,0.0,0.0
2,Adventure Time,2016-11-03,827000.0,682404377.0,840.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-03,0.0,323073.0,1.0
3,Adventure Time,2016-11-03,828000.0,682778324.0,840.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-04,1000.0,697020.0,1.0
4,Adventure Time,2016-11-03,828000.0,683175108.0,841.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-05,1000.0,1093804.0,2.0
5,Adventure Time,2016-11-03,828000.0,683575975.0,842.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-06,1000.0,1494671.0,3.0
6,Adventure Time,2016-11-03,829000.0,683982922.0,844.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-07,2000.0,1901618.0,5.0
7,Adventure Time,2016-11-03,829000.0,684354191.0,844.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-08,2000.0,2272887.0,5.0
8,Adventure Time,2016-11-03,829000.0,684780084.0,845.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-09,2000.0,2698780.0,6.0
9,Adventure Time,2016-11-03,830000.0,685211531.0,845.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-10,3000.0,3130227.0,6.0
10,Adventure Time,2016-11-03,830000.0,685692956.0,846.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-11,3000.0,3611652.0,7.0
11,Adventure Time,2016-11-03,831000.0,686208196.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-12,4000.0,4126892.0,8.0
12,Adventure Time,2016-11-03,831000.0,686823877.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-13,4000.0,4742573.0,8.0
13,Adventure Time,2016-11-03,832000.0,687258337.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-14,5000.0,5177033.0,8.0
14,Adventure Time,2016-11-03,832000.0,687729077.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-15,5000.0,5647773.0,8.0
15,Adventure Time,2016-11-03,833000.0,688229659.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-16,6000.0,6148355.0,8.0
16,Adventure Time,2016-11-03,833000.0,688833602.0,848.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-17,6000.0,6752298.0,9.0
17,Adventure Time,2016-11-03,834000.0,689452533.0,848.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-18,7000.0,7371229.0,9.0
18,Adventure Time,2016-11-03,834000.0,690138374.0,848.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-19,7000.0,8057070.0,9.0
19,Adventure Time,2016-11-03,835000.0,690913428.0,848.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-20,8000.0,8832124.0,9.0
20,Adventure Time,2016-11-03,836000.0,691688584.0,849.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-21,9000.0,9607280.0,10.0
21,Adventure Time,2016-11-03,836000.0,692423599.0,850.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-22,9000.0,10342295.0,11.0

In [ ]:
adventure_time_shifted.at[0,'channel_name']='Adventure Time'
adventure_time_shifted.at[0,'subscribers']= 827000.0
adventure_time_shifted.at[0,'views']= 682081304.0
adventure_time_shifted.at[0,'total_videos']= 839.0
adventure_time_shifted

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date,subgain,viewgain,videoloads
0,Adventure Time,NaN,827000.0,682081304.0,839.0,NaN,NaN,NaN,NaN,NaN
1,Adventure Time,2016-11-03,827000.0,682081304.0,839.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-02,0.0,0.0,0.0
2,Adventure Time,2016-11-03,827000.0,682404377.0,840.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-03,0.0,323073.0,1.0
3,Adventure Time,2016-11-03,828000.0,682778324.0,840.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-04,1000.0,697020.0,1.0
4,Adventure Time,2016-11-03,828000.0,683175108.0,841.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-05,1000.0,1093804.0,2.0
5,Adventure Time,2016-11-03,828000.0,683575975.0,842.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-06,1000.0,1494671.0,3.0
6,Adventure Time,2016-11-03,829000.0,683982922.0,844.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-07,2000.0,1901618.0,5.0
7,Adventure Time,2016-11-03,829000.0,684354191.0,844.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-08,2000.0,2272887.0,5.0
8,Adventure Time,2016-11-03,829000.0,684780084.0,845.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-09,2000.0,2698780.0,6.0
9,Adventure Time,2016-11-03,830000.0,685211531.0,845.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-10,3000.0,3130227.0,6.0
10,Adventure Time,2016-11-03,830000.0,685692956.0,846.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-11,3000.0,3611652.0,7.0
11,Adventure Time,2016-11-03,831000.0,686208196.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-12,4000.0,4126892.0,8.0
12,Adventure Time,2016-11-03,831000.0,686823877.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-13,4000.0,4742573.0,8.0
13,Adventure Time,2016-11-03,832000.0,687258337.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-14,5000.0,5177033.0,8.0
14,Adventure Time,2016-11-03,832000.0,687729077.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-15,5000.0,5647773.0,8.0
15,Adventure Time,2016-11-03,833000.0,688229659.0,847.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-16,6000.0,6148355.0,8.0
16,Adventure Time,2016-11-03,833000.0,688833602.0,848.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-17,6000.0,6752298.0,9.0
17,Adventure Time,2016-11-03,834000.0,689452533.0,848.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-18,7000.0,7371229.0,9.0
18,Adventure Time,2016-11-03,834000.0,690138374.0,848.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-19,7000.0,8057070.0,9.0
19,Adventure Time,2016-11-03,835000.0,690913428.0,848.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-20,8000.0,8832124.0,9.0
20,Adventure Time,2016-11-03,836000.0,691688584.0,849.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-21,9000.0,9607280.0,10.0
21,Adventure Time,2016-11-03,836000.0,692423599.0,850.0,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-22,9000.0,10342295.0,11.0

In [ ]:
adventure_time["subgain"] = (adventure_time["subscribers"] - adventure_time_shifted["subscribers"])
adventure_time["viewgain"] = (adventure_time["views"] - adventure_time_shifted["views"])
adventure_time["videoloads"] = (adventure_time["total_videos"] - adventure_time_shifted["total_videos"])

In [ ]:
adventure_time

,channel_name,published_date,subscribers,views,total_videos,playlist_id,retrieved_date,subgain,viewgain,videoloads
0,Adventure Time,2016-11-03,827000,682081304,839,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-02,0.0,0.0,0.0
1,Adventure Time,2016-11-03,827000,682404377,840,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-03,0.0,323073.0,1.0
2,Adventure Time,2016-11-03,828000,682778324,840,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-04,1000.0,373947.0,0.0
3,Adventure Time,2016-11-03,828000,683175108,841,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-05,0.0,396784.0,1.0
4,Adventure Time,2016-11-03,828000,683575975,842,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-06,0.0,400867.0,1.0
5,Adventure Time,2016-11-03,829000,683982922,844,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-07,1000.0,406947.0,2.0
6,Adventure Time,2016-11-03,829000,684354191,844,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-08,0.0,371269.0,0.0
7,Adventure Time,2016-11-03,829000,684780084,845,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-09,0.0,425893.0,1.0
8,Adventure Time,2016-11-03,830000,685211531,845,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-10,1000.0,431447.0,0.0
9,Adventure Time,2016-11-03,830000,685692956,846,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-11,0.0,481425.0,1.0
10,Adventure Time,2016-11-03,831000,686208196,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-12,1000.0,515240.0,1.0
11,Adventure Time,2016-11-03,831000,686823877,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-13,0.0,615681.0,0.0
12,Adventure Time,2016-11-03,832000,687258337,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-14,1000.0,434460.0,0.0
13,Adventure Time,2016-11-03,832000,687729077,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-15,0.0,470740.0,0.0
14,Adventure Time,2016-11-03,833000,688229659,847,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-16,1000.0,500582.0,0.0
15,Adventure Time,2016-11-03,833000,688833602,848,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-17,0.0,603943.0,1.0
16,Adventure Time,2016-11-03,834000,689452533,848,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-18,1000.0,618931.0,0.0
17,Adventure Time,2016-11-03,834000,690138374,848,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-19,0.0,685841.0,0.0
18,Adventure Time,2016-11-03,835000,690913428,848,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-20,1000.0,775054.0,0.0
19,Adventure Time,2016-11-03,836000,691688584,849,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-21,1000.0,775156.0,1.0
20,Adventure Time,2016-11-03,836000,692423599,850,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-22,0.0,735015.0,1.0
21,Adventure Time,2016-11-03,836000,693123748,850,UUFuU-5B1eKAWaTeLUu3JuyA,2022-06-23,0.0,700149.0,0.0

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data=go.Scatter(x=adventure_time['retrieved_date'].astype(dtype=str), 
                                y=adventure_time['viewgain'],
                                marker_color='orange', text="counts", name = "view gain"))

fig.add_bar(x=adventure_time["retrieved_date"], y=adventure_time["videoloads"]*100000, name="video uploads", marker_color = 'green')
#fig.add_bar(x=adventure_time["retrieved_date"], y=adventure_time["subgain"]*100, name="subscriber  gain")

fig.update_layout(
    height=600,
    title_text = '\'Adventure Time\' Channel Analysis',   
)

fig.show()